<!DOCTYPE html>
<html>

<head>
    <title>BŪK</title>
    <link rel="stylesheet" href="/static/stylesheet.css" />
</head>

<body>
    {% include 'header.html' %}
    <div class="content-wrapper">
        <h1>About būk</h1>
        būk is a web application intended to address readers' desires to rate and review books
        with ease, organize books they've loved into "playlists," and connect with friends
        over their favorite recent reads.<br/><br/>

        All book data is courtesy of <a href="https://openlibrary.org/developers/dumps">Open Library's data dumps</a>.
        <br /><br />
        Created by Grace Bu as part of the Senior Project in fulfillment of Yale University's Bachelor of Science in Computer Science.
    </div>
    <br />
    {% include 'footer.html' %}
</body>

</html>