<!DOCTYPE html>
<html>

<head>
    <title>BŪK</title>
    <!-- link to style sheet -->
    <link rel="stylesheet" href="/static/stylesheet.css" />
</head>

<body>
    {% include 'header.html' %}
    <div class="content-wrapper">
        <h1>Create new review for {{ book_info['title'] }}:</h1>
        <form action="/reviews" method="POST">
            <div class="inputs">
                <div>Rating (0-10)</div>
                <input type="number" name="rating" value="{{ rating }}" min="0" max="10" required /><br /><br />
                <div>Summary (max {{ char_limit }} characters)</div>
                <textarea name="summary" id="summary" oninput="updateCharCount()" maxlength="{{ char_limit }}">{{ summary }}</textarea><br />
                <div id="charCount"></div><br />
            </div>
            <input type="hidden" name="book_id" value="{{ book_info['edition_id'] }}" />
            <input type="hidden" name="char_limit" value="{{ char_limit }}" />
            <input type="submit" value="Create" />
        </form>

    </div>
    <br />
    {% include 'footer.html' %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <script>
        function updateCharCount() {
            var charCount = document.getElementById("summary").value.length;
            var charLimit = document.querySelector("input[name='char_limit']").value;
            var remainingChars = charLimit - charCount;
            document.getElementById("charCount").innerText = remainingChars + " characters remaining";
        }

        window.onload = function() {
            updateCharCount();
        };
    </script>
</body>

</html>