<!DOCTYPE html>
<html>

<head>
    <title>BŪK</title>
    <link rel="stylesheet" href="/static/stylesheet.css" />
</head>
<style></style>

<body>
    {% include 'header.html' %}
    <div class="content-wrapper">
        <h1>būk</h1>
        <form action="/search/users" method="get">
            <button type="submit" id="userSearch">Search Users</button>
        </form>
        <br />
        <form action="/search/books" method="get">
            <button type="submit" id="userSearch">Search Books</button>
        </form>
        <br />
        <form action="/search/authors" method="get">
            <button type="submit" id="userSearch">Search Authors</button>
        </form>
        <br />
        <form action="/search/lists" method="get">
            <button type="submit" id="userSearch">Search Lists</button>
        </form>
    </div>

    <br />
    {% include 'footer.html' %}
</body>

</html>