<!DOCTYPE html>
<html>

<head>
    <title>BŪK</title>
    <!-- link to style sheet -->
    <link rel="stylesheet" href="/static/stylesheet.css" />
</head>

<body>
    {% include 'header.html' %}
    <div class="content-wrapper">
        <h1>Search for a list:</h1>
        <form action="/lists/search" method="get">
            <div class="inputs">
                <div>List creator's username</div>
                <input type="text" name="user_name" value="{{user_name}}" /> <br /><br />
                <div>List title</div>
                <input type="text" name="list_title" value="{{list_title}}" /><br /><br />
                <div>Limit search results #</div>
                <input type="text" name="limit" value="{{limit}}" /> <br /><br />
            </div>
            <input type="submit" value="Search" />
        </form>

        <br />
        <br />
        {% if valid_search_terms: %} 
            <h2>Search Results:</h2>
            {% if not results or results|length == 0: %}
            <br />
            {% else %}
                {% for lst in results %}
                    <a href="/lists/{{ lst['list_id'] }}">{{ lst['title'] }}</a>
                    by <a href="/users/{{ lst['creator_id'] }}">{{ lst['creator_name'] }}</a>
                    <br />
                    <br />
                {% endfor %}
            {% endif %}
        {% else %}
        <p>No search terms provided. Please enter some search terms.</p>
        {% endif %}
    </div>
    <br />
    {% include 'footer.html' %}
</body>

</html>