<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Login</title>
    <!-- <link rel="stylesheet" href="../static/stylesheet.css" /> -->
  </head>
  <body>
    <!-- <div class="page"> -->
      <!-- <div class="login-wrapper"> -->
        <h2>Login</h2>
        <form action="{{ url_for('login') }}" method="post">
          <label for="email">Email:</label>
          <input type="email" id="email" name="email" required />
          <label for="password">Password:</label>
          <input type="password" id="password" name="password" required />
          <br />
          <input class="centered" type="submit" value="Login" />
        </form>
        <p>
          Don't have an account?
          <a href="{{ url_for('signup') }}">Register here</a>.
        </p>
      <!-- </div> -->
    <!-- </div> -->
  </body>
</html>
