<!DOCTYPE html>
<html>

<head>
    <title>BŪK</title>
    <!-- link to style sheet -->
    <link rel="stylesheet" href="/static/stylesheet.css" />
</head>

<body>
    {% include 'header.html' %}
    <div class="content-wrapper">
        <h1>Edit list {{ lst['title'] }}:</h1>
        <form action="/lists/{{lst['list_id']}}" method="POST">
            <div class="inputs">
                <div>Title</div>
                <input type="text" name="title" value="{{ title }}" maxlength="100" /><br /><br />
                <div>Description (max {{ char_limit }} characters)</div>
                <textarea name="description" id="description" oninput="updateCharCount()" maxlength="{{ char_limit }}">{{ summary }}</textarea><br />
                <div id="charCount"></div><br />
            </div>
            <input type="hidden" name="char_limit" value="{{ char_limit }}" />
            <input type="submit" value="Update" />
        </form>
        <br />

        <!-- {% if lst['books'] %}
        {% for book in lst['books'] %}
            {{ book['title'] }} by {{ book['authors'] }}<br />
            <form id="removeBook" method="post">
                <input type="hidden" name="list_id" value="{{ lst['list_id'] }}" />
                <input id="button" type="submit" value="Remove" />
            </form>
            <br />
        {% endfor %}
        {% endif %} -->
        {% if lst['books'] %}
            {% for book in lst['books'] %}
                <div class="book-entry">
                    {{ book['title'] }} by {{ book['authors'] }}
                    <form class="removeBookForm" action="/lists/delete/{{ book['edition_id'] }}" method="post">
                        <input type="hidden" name="list_id" value="{{ lst['list_id'] }}" />
                        <button type="submit" class="removeBookButton">Remove from List</button>
                    </form>
                    <br />
                </div>
            {% endfor %}
        {% endif %}

        <br />
        <form id="deleteList" method="post">
            <input type="hidden" name="list_id" value="{{ lst['list_id'] }}" />
            <input id="button" type="submit" value="Delete List" />
        </form>
        <br />

        <a href="/lists/{{lst['list_id']}}">Back to list</a>

    </div>
    <br />
    {% include 'footer.html' %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <script>
        function updateCharCount() {
            var charCount = document.getElementById("summary").value.length;
            var charLimit = document.querySelector("input[name='char_limit']").value;
            var remainingChars = charLimit - charCount;
            document.getElementById("charCount").innerText = remainingChars + " characters remaining";
        }

        window.onload = function() {
            updateCharCount();
        };

        $("#deleteList").submit(function (event) {
            event.preventDefault();
            var formData = $(this).serialize();
            var listId = $("input[name='list_id']").val();
            $.ajax({
                url: '/lists/' + listId,
                type: 'DELETE',
                data: formData,
                success: function (response) {
                    alert(response.message);
                    window.location.href = '/users/profile';
                },
                error: function (xhr, status, error) {
                    alert("Error deleting list: " + xhr.responseText);
                }
            });
        });

        $(document).ready(function() {
            $('.removeBookForm').submit(function(event) {
                event.preventDefault();
                var formData = $(this).serialize();
                var actionUrl = $(this).attr('action');
                $.ajax({
                    url: actionUrl,
                    type: 'DELETE',
                    data: formData,
                    success: function(response) {
                        alert("Book removed from list");
                        location.reload();
                    },
                    error: function(xhr) {
                        alert("Error removing book: " + xhr.responseText);
                    }
                });
            });
        });
    </script>
</body>

</html>