<!DOCTYPE html>
<html>

<head>
    <title>BŪK</title>
    <!-- link to style sheet -->
    <link rel="stylesheet" href="/static/stylesheet.css" />
</head>

<body>
    {% include 'header.html' %}
    <div class="content-wrapper">
        <h1 id="userHeader">Settings for {{user['username']}}</h1>

        Full name: {{ user['full_name'] }}<br />
        Email: {{ user['email'] }}<br />
        Phone: {{ user['phone'] }}<br />

        <h2>Update Username</h2>
        <form action="/users/update/username" method="post">
            <input type="hidden" name="user_id" value="{{ user['user_id'] }}" />
            New Username:
            <input type="text" id="username" name="username" required /><br />
            <input type="submit" value="Update Username" />
        </form>

        <h2>Update Full Name</h2>
        <form action="/users/update/full_name" method="post">
            <input type="hidden" name="user_id" value="{{ user['user_id'] }}" />
            New Username:
            <input type="text" id="full_name" name="full_name" required /><br />
            <input type="submit" value="Update Full Name" />
        </form>

        <h2>Update Email</h2>
        <form action="/users/update/email" method="post">
            <input type="hidden" name="user_id" value="{{ user['user_id'] }}" />
            New Email:
            <input type="text" id="email" name="email" /><br />
            <input type="submit" value="Update Email" />
        </form>

        <h2>Update Phone Number</h2>
        <form action="/users/update/phone" method="post">
            <input type="hidden" name="user_id" value="{{ user['user_id'] }}" />
            New Phone Number:
            <input type="text" id="phone" name="phone" /><br />
            <input id="button" type="submit" value="Update Phone" />
        </form>

        <h2>Delete Account</h2>
        <form id="deleteUser" method="post">
            <input type="hidden" name="user_id" value="{{ user['user_id'] }}" />
            <input id="button" type="submit" value="Delete Account" />
        </form>

        <br />
        <a href="/users/{{user['user_id']}}">Back to profile page</a>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
        "use strict";
        $("#deleteUser").submit(function (event) {
            event.preventDefault();
            var formData = $(this).serialize();
            var userId = $("input[name='user_id']").val();
            $.ajax({
                url: '/users/' + userId,
                type: 'DELETE',
                data: formData,
                success: function (response) {
                    alert(response.message);
                    window.location.href = '/login';
                },
                error: function (xhr, status, error) {
                    alert("Error deleting user: " + xhr.responseText);
                }
            });
        });
    </script>
    {% include 'footer.html' %}
</body>

</html>